<footer id="footer">
  <!--
<section>
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <input type="hidden" name="_next" value="{{site.url}}{{site.formspree_thankyou_page}}" />
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>
-->
     <section>
    <div class="map-responsive">
   
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.021951121609!2d-79.50498280122991!3d43.77240316662897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55e10c9ba7b8b997!2sNew+Student+Center!5e0!3m2!1sen!2sca!4v1542313486515" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </section>

  <section class="split contact">
    <section class="alt">
      <h3>Hosted By</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.dighr_email}}">{{site.dighr_email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
<!--        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>-->
      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; Dahdaleh Institute for Global Health Research</li><li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li></ul>
</div>
