<ul class="links">
  <li class="{% if page.url == "/" %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/">Home</a></li> 
    <li class="{% if page.url contains '/about/' %} active {% else %} dark-nav {% endif %}"><a href="#about">About</a></li>
    <li class="{% if page.url contains '/challenges/' %} active {% else %} dark-nav {% endif %}"><a href="#challenges">Challenges</a></li>
    <li class="{% if page.url contains '/event-details/' %} active {% else %} dark-nav {% endif %}"><a href="#event-details">Event Details</a></li>
    <li class="{% if page.url contains '/participants/' %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/participants">Participants</a></li>
    <li class="{% if page.url contains '/logistics/' %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/logistics">Logistics</a></li>
    <li class="{% if page.url contains '/5challenges/' %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/5challenges">5Challenges</a></li>
    <li class="{% if page.url contains '/directions/' %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/directions">Directions</a></li>
    <li class="{% if page.url contains '/agenda/' %} active {% else %} dark-nav {% endif %}"><a href="{{ site.baseurl }}/agenda">Agenda</a></li>


    
<!--
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ site.baseurl }}/">Home</a></li> 
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ site.baseurl }}/about/">About</a></li>
    <li class="{% if page.url contains '/challenges/' %} active {% endif %}"><a href="{{ site.baseurl }}/challenges/">Challenges</a></li>
    <li class="{% if page.url contains '/participants/' %} active {% endif %}"><a href="{{ site.baseurl }}/participants/">Participants</a></li>
    <li class="{% if page.url contains '/event-details/' %} active {% endif %}"><a href="{{ site.baseurl }}/event-details/">Event Details</a></li>
    
-->
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
<!--  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>-->
</ul>
