<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>   
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ site.baseurl }}/about/">About</a></li>
    <li class="{% if page.url contains '/private/' %} active {% endif %}"><a href="{{ site.baseurl }}/private/">Private</a></li>
    <li class="{% if page.url contains '/private2/' %} active {% endif %}"><a href="{{ site.baseurl }}/private2/">Private2</a></li>
    
 
    <!-- Remove Extra Pages From Nav
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ site.baseurl }}/about/">About</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ site.baseurl }}/elements/">Elements Reference</a></li>
     <li class="{% if page.url contains '/test/' %} active {% endif %}"><a href="{{ site.baseurl }}/test/">Test</a></li>
<li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    
-->
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
</ul>
