.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-centered-text h1 {
    color: white;
}